@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.white {
  color: white;
}

.bold {
  font-weight: bold;
}

.bglite {
  background-color: rgb(235, 235, 235);
}

.center {
  text-align: center;
}

.register-wrapper p {
  color: red;
}

input {
  color: whitesmoke;
}